name: Benchmark

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Benchmark
        run: |
          npx ci
          npm run update-minifiers
          npm run update-benchmarks-readme
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "chore: updated benchmarks"
          git push
      - name: Upload minification results
        uses: actions/upload-artifact@v2
        with:
          name: minification-results
          path: results/
