name: Benchmark

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          repository: ${{ github.repository }}
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npx 'privatenumber/ci#built/pnpm-v7'
      - name: Benchmark
        run: npm run update-benchmarks-readme
      - name: Commit readme
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "chore: updated benchmarks"
          git push
      - name: Upload minification results
        uses: actions/upload-artifact@v2
        with:
          name: minification-results
          path: results/
