name: Benchmark

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    timeout-minutes: 60

    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          repository: ${{ github.repository }}

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          run_install: true

      - name: Setup Composer
        uses: php-actions/composer@v6
        with:
          working_dir: packages/minifiers

      - name: Benchmark
        run: pnpm bench-all

      - name: Update README
        run: pnpm update-readme

      - name: Commit README.md
        run: |
          # Ignored by Renovate
          git config user.name GitHub Actions
          git config user.email github-actions@github.com
          git add -u
          git diff-index --quiet HEAD || git commit -nm "chore: updated benchmarks"
          git push
